*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f9f9f9;
}
.logo {
  font-size: 1.8rem;
  color: #007BFF;
  text-align: center;
}

.navbar{
    background-color: #333;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: #f9f9f9;
    align-content: center;
}

.navbar-container{
    width: 100%;
    padding:0.3rem 8rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.profile{
    position: relative;
    background-color: #ff0000;
    width: 45px;
    height: 45px;
    cursor:pointer;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;;
    padding: 0.8rem;
    text-align: center;
}

.profile label {
    visibility: hidden;
}

.home-container{
    max-width: 1200px;
    margin: 2rem 8rem;
}      

.course-card{
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
    margin-bottom: 2rem;
}
#course-list{
    background-color: #f9f9f9;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
}
.course-card {
    height: 20rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}
.name{
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}
.nav-links {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 0.5rem;
}


.profile-menu {
    position: absolute;
    top: 60px;
    background: #fff;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 150px;
    display: none; /* hidden by default */
    flex-direction: column;
    padding: 0.5rem 0;
    z-index: 100;
}

.profile-menu a {
    padding: 0.6rem 1rem;
    text-decoration: none;
    color: #333;
    display: block;
    transition: background 0.2s;
    font-size: 0.9rem;
}
.profile-menu a:hover{
    background-color: #f1f1f1;
}
.profile.active + .profile-menu {
    display: flex; 

}